<template>
    <div class="CreateGame">
        <h3
                @click="toggleShow = !toggleShow"
                class="CreateGame__title"
        >
            Create New Session
        </h3>
        <div
                v-show="toggleShow"
                class="CreateGame__form"
        >
            <div class="CreateGame__Field">
                Pick players:
                <label
                    v-for="player in getPlayers"
                    :key="player._id"
                >
                    <input
                        v-model="players"
                        @input="error = ''"
                        :value="player._id"
                        type="checkbox"
                    >
                    {{ player.nickname }}
                </label>
            </div>
            <div class="CreateGame__Field">
                Pick season:
                <label
                    v-for="season in getSeasons"
                    :key="season._id"
                >
                    <input
                        v-model="seasonValue"
                        @input="error = ''"
                        :value="season._id"
                        type="radio"
                    >
                    {{ season.name }}
                </label>
            </div>
            <button @click="createNewGame">Create</button>
        </div>
        <div class="CreateGame__error"></div>
    </div>
</template>

<script>
import Axios from "@/helpers/axios";
import { mapActions, mapGetters } from 'vuex';


export default {
    name: "CreateGameForm",
    data() {
        return {
            toggleShow: false,
            players: [],
            seasonValue: '',
            error: '',
        }
    },
    computed: {
        ...mapGetters([
            'getPlayers',
            'getSeasons'
        ])
    },
    methods: {
        ...mapActions(['reqData']),
        async createNewGame() {
            const response = await Axios.post('/api/session', {
                season: this.seasonValue,
                players: this.players,
            });

            if (response.status !== 200) {
                this.error = response.data || response.error || response.status;
            }

            this.toggleShow = false;

            await this.reqData();
        }
    }
}
</script>

<style lang="scss">
.CreateGame {
    &__title {
        cursor: pointer;
        text-decoration: underline;
    }

    &__form {
        display: flex;
        flex-direction: row;
        align-items: center;

        > button {
            width: 75px;
            height: 50px;
        }

        > * {
            padding: 5px;
            margin: 10px;
        }
    }

    &__Field {
        display: flex;
        flex-direction: column;

        > * {
            padding: 5px;
        }
    }


    &__error {
        color: red;
    }
}
</style>