<template>
<div class="CreatePlayer">
    <h3
            @click="toggleShow = !toggleShow"
            class="CreatePlayer__title"
    >
        Create Player
    </h3>
    <div
            v-show="toggleShow"
            class="CreatePlayer__form"
    >
        <label>
            Nickname:
            <input
                v-model="nickname"
                @input="error = ''"
                type="text"
            >
        </label>
        <button @click="createNewPlayer">Create</button>
    </div>
    <div class="CreatePlayer__error"></div>
</div>
</template>

<script>
import Axios from "@/helpers/axios";
import { mapActions } from 'vuex';


export default {
    name: "CreatePlayerForm",
    data() {
        return {
            toggleShow: false,
            nickname: '',
            error: '',
        }
    },
    methods: {
        ...mapActions(['reqData']),
        async createNewPlayer() {
            const response = await Axios.post('/api/player', {
                nickname: this.nickname,
            });

            if (response.status !== 200) {
                this.error = response.data || response.error || response.status;
            }

            this.toggleShow = false;

            await this.reqData();
        }
    }
}
</script>

<style lang="scss">
.CreatePlayer {
    &__title {
        cursor: pointer;
        text-decoration: underline;
    }

    &__form > * {
        padding: 5px;
    }

    &__error {
        color: red;
    }
}
</style>