<template>
    <div class="GamesTable">
        <h2 class="GamesTable__title"> Game History </h2>

        <div class="GamesTable__headerRow">
            <div class="GamesTable__cell">
                №
            </div>
            <div class="GamesTable__cell">
                Season
            </div>
            <div class="GamesTable__cell">
                Players Quantity
            </div>
            <div
                class="GamesTable__cell"
                v-if="byId"
            >
                Place
            </div>
            <div class="GamesTable__cell">
                Status
            </div>
            <div class="GamesTable__cell">
                Date
            </div>
        </div>
        <div class="GamesTable__mainTable">
            <router-link
                class="GamesTable__dataRow"
                v-for="session in sessions"
                :to="`/session/${session._id}`"
                :key="session._id"
            >
                <div class="GamesTable__cell">
                    {{ session.__v }}
                </div>
                <div class="GamesTable__cell">
                    {{ getSeasons[session.season].name }}
                </div>
                <div class="GamesTable__cell">
                    {{ session.players.length }}
                </div>
                <div
                    class="GamesTable__cell"
                    v-if="byId"
                >
                    {{ getPlace(session._id) }}
                </div>
                <div class="GamesTable__cell">
                    {{ session.players.length === session.places.length ? 'Finished' : 'In Progress' }}
                </div>
                <div class="GamesTable__cell">
                    {{ new Date(session.date).toLocaleDateString("en-US") }}
                </div>
            </router-link>
        </div>
        <div v-if="!byId">
            <create-game-form/>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import CreateGameForm from '@/components/CreateGameForm';


export default {
    name: "GamesTable",
    components: {CreateGameForm},
    props: {
        byId: {
            required: false,
            default: null,
        },
    },
    computed: {
        ...mapGetters([
            'getSeasons',
            'getSessions',
            'getPlaces',
        ]),
        sessions() {
            return this.byId
                ? Object.values(this.getSessions).filter(session => session.players.includes(this.byId))
                : this.getSessions
        },
    },
    methods: {
        getPlace(sessionId) {
            const placeId = this.getSessions[sessionId].places.filter((place) =>
                this.getPlaces[place].player === this.byId
            )[0];

            return this.getPlaces[placeId].place;
        }
    }
}
</script>

<style lang="scss">
.GamesTable {
    &__title {
        text-align: center;
    }

    &__headerRow,
    &__dataRow {
        display: flex;
    }

    &__headerRow {
        background-color: darkgray;
    }

    &__dataRow {
        border-bottom: 1px solid black;
        text-decoration: none;
        color: black;
        background-color: whitesmoke;

        &:hover {
            opacity: .8;
        }
    }

    &__cell {
        width: 100%;
        text-align: center;
        padding: 10px;
    }
}
</style>