<template>
    <div class="UserList">
        <h2 class="UserList__title"> Score board </h2>

        <div class="UserList__table">
            <div class="UserList__headerRow">
                <div class="UserList__cell">
                    Place
                </div>
                <div class="UserList__cell">
                    UserName
                </div>
                <div class="UserList__cell">
                    Score
                </div>
                <div class="UserList__cell">
                    Games Played
                </div>
            </div>
            <div class="UserList__mainTable">
                <router-link
                        class="UserList__dataRow"
                        v-for="(user, i) in scoreList"
                        :to="`/player/${user}`"
                        :key="user"
                >
                    <div class="UserList__cell">
                        {{ i + 1 }}
                    </div>
                    <div class="UserList__cell">
                        {{ getPlayers[user].nickname }}
                    </div>
                    <div class="UserList__cell">
                        {{ getPlayers[user].score }}
                    </div>
                    <div class="UserList__cell">
                        {{ getPlayers[user].sessionsHistory.length }}
                    </div>
                </router-link>
            </div>
            <create-player-form/>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import CreatePlayerForm from '@/components/CreatePlayerForm';


export default {
    name: "UserList",
    components: {CreatePlayerForm},
    computed: {
        ...mapGetters(['getPlayers']),
        scoreList() {
            return Object.keys(this.getPlayers).sort((a, b) => {
                return this.getPlayers[b].score - this.getPlayers[a].score;
            });
        }
    },
}
</script>

<style lang="scss">
.UserList {
    &__title {
        text-align: center;
    }

    &__headerRow,
    &__dataRow {
        display: flex;
    }

    &__headerRow {
        background-color: darkgray;
    }

    &__dataRow {
        border-bottom: 1px solid black;
        text-decoration: none;
        color: black;
        background-color: whitesmoke;

        &:hover {
            opacity: .8;
        }
    }

    &__cell {
        width: 100%;
        text-align: center;
        padding: 10px;
    }
}
</style>