<template>
  <div id="app">
    <nav>
      <router-link
          to="/"
          class="HomeLink"
      >
        Home
      </router-link>
    </nav>
    <router-view v-if="loaded"/>
  </div>
</template>
<script>
import { mapActions, mapGetters } from 'vuex';


export default {
  name: "MainPage",
  data() {
    return {

    }
  },
  computed: {
    ...mapGetters(['loaded']),
  },
  async beforeMount() {
    await this.reqData();
  },
  methods: {
    ...mapActions([
        'reqData',
    ]),
  },
}
</script>
<style>
body {
  margin: 0;
  padding: 0;
}

.HomeLink {
  font-size: 1.5em;
  color: cadetblue;
}

nav {
  padding: 10px;
  width: 100%;
  text-align: center;
}

</style>
