<template>
    <div class="GameInfo">
        <h2 class="GameInfo__title"> Game Info </h2>
        <div class="GameInfo__wrapper">
            <div class="GameInfo__players">
                Players who played:
                <ul>
                    <li
                            v-for="player in session.players"
                            :key="player"
                    >
                        <router-link
                            :to="`/player/${player}`"
                        >
                            {{ getPlayers[player].nickname }}
                        </router-link>

                        <button
                            v-show="!isKickDisabled(player)"
                            @click="kickPlayer(player)"
                            class="GameInfo__KickPlayer"
                        >
                            Kick player
                        </button>
                    </li>
                </ul>
            </div>
            <div class="GameInfo__players">
                Places:
                <ul>
                    <li
                        v-for="place in places"
                        :key="place"
                    >
                        {{ getPlaces[place].place }}.
                        {{ getPlayers[getPlaces[place].player].nickname }}
                        Score: {{ getPlaces[place].scoreUpdater }}
                    </li>
                </ul>
            </div>

        </div>
    </div>
</template>

<script>
    import { mapActions, mapGetters } from 'vuex';
import Axios from '@/helpers/axios';


export default {
    name: "GameInfo",
    computed: {
        ...mapGetters([
            'getSessions',
            'getPlayers',
            'getPlaces'
        ]),
        session() {
            return this.getSessions[this.$route.params.id];
        },
        places() {
            const places = this.session.places;
            return places.sort(
                (a, b) => this.getPlaces[a].place - this.getPlaces[b].place
            );
        }
    },
    methods: {
        ...mapActions(['reqData']),
        async kickPlayer(playerId) {
            const response = await Axios.post('/api/session/kick_player', {
                sessionId: this.$route.params.id,
                player: playerId
            });

            if (response.status !== 200) {
                this.error = response.data || response.error || response.status;
            }

            await this.reqData();
        },
        isKickDisabled(playerId) {
            return this.places.filter((place) => this.getPlaces[place].player === playerId).length;
        }
    }
}
</script>

<style lang="scss">
.GameInfo {
    &__title {
        text-align: center;
    }

    &__wrapper {
        padding: 20px;
        display: flex;
    }

    &__players {
        font-size: 1.3em;
        width: 100%;
    }

    &__KickPlayer {
        text-decoration: underline;
        color: cadetblue;
    }
}
</style>