<template>
    <div>
        <user-list/>
        <games-table/>
    </div>
</template>

<script>
import UserList from '@/components/UserList';
import GamesTable from '@/components/GamesTable';
export default {
    name: "MainPage",
    components: {GamesTable, UserList},
}
</script>

<style>

</style>