<template>
<div class="PlayerInfo">
    <h2 class="PlayerInfo__title"> Player: {{ player.nickname }}</h2>
    <div class="PlayerInfo__Row">
        <span>Games played: </span>
        <span> {{ player.sessionsHistory.length }} </span>
    </div>
    <div class="PlayerInfo__Row">
        <span>Score: </span>
        <span> {{ player.score }} </span>
    </div>
    <div class="PlayerInfo__Row">
        <span>Join date: </span>
        <span> {{ new Date(player.date).toLocaleDateString("en-US") }} </span>
    </div>

    <games-table
            v-if="getSessions"
            :by-id="player._id"
    />
</div>
</template>

<script>
import { mapGetters } from 'vuex';
import GamesTable from '../components/GamesTable';


export default {
    name: "PlayerInfo",
    components: {GamesTable},
    computed: {
        ...mapGetters([
            'getPlayers',
            'getSessions'
        ]),
        player() {
            return this.getPlayers[this.$route.params.id];
        }
    },
    beforeMount() {
        if (!this.$route.params.id ) {
            this.$router.push('/');
        }
    }
}
</script>

<style lang="scss">
.PlayerInfo {
    &__title {
        text-align: center;
    }

    &__Row {
        font-size: 1.3em;
    }
}
</style>